* {
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  margin: 15px 0;
}
h2, h3 {
  font-size: 18px;
  margin: 10px 0;
}
.panel {
  margin-bottom: 100px;
}

#recipe-of-the-day {
  text-align: center;
  margin: 0 auto;
  max-width: 50%;
}
#recipe-of-the-day img {
  max-width: 100%;
  max-height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/*one item on the list*/
.results-recipe-list {
  position: relative; /*needed to position child .results-recipe-details*/
}
.results-recipe-details {
  position: absolute;
  top: -25%;
  left: 0;
  background-color: #ccc;
  width: 90vh;
  z-index: 999;
  overflow: none;
}

.results-recipe-details-brief{
  text-align: left;
  font-size: 12px;
}

.results-recipe-details-brief li{
  padding-bottom: 6px;
}

.results-recipe-list {
  font-size: 12px;
}

.btn-selected{
  background-color: #7fde59;
}

ul {
  list-style-type: none;
  margin: 20px 0;
}

button {
  width: 120px;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  color: #262626;
  background-color: #c0c0c0;
}

#recipe-of-the-day{
  width: 100%;
  margin-top: 50px;
}
#recipe-of-the-day .col-9,
#recipe-of-the-day .col-3{
  width: 50%;
}

button, input{
  height: 26px;
  border-width: 3px;
}

#results-next-btn, #results-prev-btn {
  background-color: #95cde4;
}

.hidden {
  display: none;
}